@import 'vars.scss';
@import 'mixins.scss';

@mixin button {
    @include ui-hover;
    @include ui-clickable;
    @include ui-selectable;
    @include ui-panel;
    @include flex-center;
}

@mixin header($size: $headerFontSize) {
    font-family: $mainFont;
    font-size: $size;
    font-weight: bold
}

.btn {
    @include button;
}

.btn-square {
    @include button;
    @include flex-center;
}

.hdr-1 {
    @include header;
    padding: 10px;
}

.hdr-2 {
    @include header($subHeaderFontSize);
    padding: 5px;
}

.disabled {
    opacity: 0.5;
}