// colors
$btnColor: #96bacf;
$uiSelectedColor: rgb(196, 168, 142);
$linkColor: #2c3e50;
$activeLinkColor: #42b983;

// fonts
$mainFont: Helvetica, sans-serif;

$mainFontColor: rgb(94, 92, 92);

$headerFontSize: 25pt;
$subHeaderFontSize: 15pt;
$normalFontSize: 12.5pt;

// ui
$defaultTransitionTime: 100ms;
$defaultPadding: 10px;