// colors
$btnColor: #96bacf;
$uiSelectedColor: rgb(196, 168, 142);
// $uiActiveColor: lighten($btnColor, 1%);
// $uiBorderColor: darken($btnColor, 50%);

// fonts
$mainFont: Arial, sans-serif;

$mainFontColor: rgb(94, 92, 92);

$headerFontSize: 25pt;
$subHeaderFontSize: 15pt;


// ui
$defaultTransitionTime: 100ms;